/* You can add global styles to this file, and also import other style files */

// Most of the time you'll want to have local styles in your components for easier maintenance,
// but styles that affect all of your app need to be here.

// Default Material Style
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

// html,
// body {
//   min-width: 100%;
//   height: 100vh;
//   margin: 0;
// }

body {
  margin: 0;
  //   padding: 2em 23em;
  //   background: lightgray;
}

a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}
