<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <!-- directive for displaying alert messages from anywhere in the system -->
      <alert></alert>
      <!-- directive for displaying the contents of each view based on the current route / path. -->
      <!-- NOTE: the Router only supports one primary unnamed outlet per template. -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- a template can also have any number of named outlets. -->
  <router-outlet name="popup"></router-outlet>
</div>
